.navigation {
    display: flex;
    list-style: none;
}

.navItem:not(:last-child) {
    margin-right: 20px;
}

.activeNavLink {
    color: red;
}

.header {
    display: flex;
    justify-content: space-around;
}
